body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#78d5ff, #0081e8);
}

.loading {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading__circle {
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.loading--example1 {
  top: 50%;
  left: 20%;
  width: 200px;
  height: 200px;
}

.loading__circle--line-effect1 {
  border-left: 2px solid #ff0;
  border-top: 2px solid #ff0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 10px #ffaaaa;
          box-shadow: 0 0 10px #ffaaaa;
  -webkit-animation: animateCircle 3s linear infinite;
          animation: animateCircle 3s linear infinite;
}

.loading__circle--line-effect2 {
  border-right: 2px solid #1000f5;
  border-bottom: 2px solid #1000f5;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  -webkit-box-shadow: 0 0 10px #ffaaaa;
          box-shadow: 0 0 10px #ffaaaa;
  animation: animateCircle 3s linear reverse infinite;
}

.point {
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
}

.point::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #fff;
  top: -4px;
  right: -6px;
  width: 10px;
  height: 10px;
}

.point--effect1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.point--effect1::before {
  background: #ff0;
  -webkit-box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 0 5px rgba(255, 255, 0, 0.1);
          box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 0 5px rgba(255, 255, 0, 0.1);
}

.point--effect2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.point--effect2::before {
  background: #1000f5;
  -webkit-box-shadow: 0 0 20px #1000f5, 0 0 40px #1000f5, 0 0 60px #1000f5, 0 0 80px #1000f5, 0 0 100px #1000f5, 0 0 0 5px rgba(3, 169, 244, 0.1);
          box-shadow: 0 0 20px #1000f5, 0 0 40px #1000f5, 0 0 60px #1000f5, 0 0 80px #1000f5, 0 0 100px #1000f5, 0 0 0 5px rgba(3, 169, 244, 0.1);
}

.loading--example2 {
  top: 50%;
  left: 50%;
  width: 260px;
  height: 260px;
}

.circle::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: -5px;
  width: 10px;
  height: 10px;
}

.circle:nth-child(1) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: animateCircle 4s linear infinite;
          animation: animateCircle 4s linear infinite;
}

.circle:nth-child(1)::before {
  background: #86ff00;
  -webkit-box-shadow: 0 0 20px #86ff00, 0 0 40px #86ff00, 0 0 60px #86ff00, 0 0 80px #86ff00, 0 0 0 4px rgba(134, 255, 0, 0.1);
          box-shadow: 0 0 20px #86ff00, 0 0 40px #86ff00, 0 0 60px #86ff00, 0 0 80px #86ff00, 0 0 0 4px rgba(134, 255, 0, 0.1);
}

.circle:nth-child(2) {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  animation: animateCircle 3s linear reverse infinite;
}

.circle:nth-child(2)::before {
  background: #ffd600;
  -webkit-box-shadow: 0 0 20px #ffd600, 0 0 40px #ffd600, 0 0 60px #ffd600, 0 0 80px #ffd600, 0 0 0 4px rgba(255, 214, 0, 0.1);
          box-shadow: 0 0 20px #ffd600, 0 0 40px #ffd600, 0 0 60px #ffd600, 0 0 80px #ffd600, 0 0 0 4px rgba(255, 214, 0, 0.1);
}

.circle:nth-child(3) {
  top: 80px;
  left: 80px;
  right: 80px;
  bottom: 80px;
  -webkit-animation: animateCircle 2s linear infinite;
          animation: animateCircle 2s linear infinite;
}

.circle:nth-child(3)::before {
  background: #00e2ff;
  -webkit-box-shadow: 0 0 20px #00e2ff, 0 0 40px #00e2ff, 0 0 60px #00e2ff, 0 0 80px #00e2ff, 0 0 0 4px rgba(0, 226, 255, 0.1);
          box-shadow: 0 0 20px #00e2ff, 0 0 40px #00e2ff, 0 0 60px #00e2ff, 0 0 80px #00e2ff, 0 0 0 4px rgba(0, 226, 255, 0.1);
}

.loading__circle-example3 {
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 80%;
  width: 150px;
  height: 150px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
}

.loading__circle-example3::before {
  content: '';
  position: absolute;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  -webkit-animation: animateCircle 2s linear infinite;
          animation: animateCircle 2s linear infinite;
}

.point-effect {
  display: block;
  position: absolute;
  background: transparent;
  -webkit-transform-origin: left;
          transform-origin: left;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

.point-effect::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #fff000;
  -webkit-box-shadow: 0 0 20px #fff000;
          box-shadow: 0 0 20px #fff000;
  top: -6px;
  right: -8px;
  width: 16px;
  height: 16px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@-webkit-keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */